@import "tailwindcss";

@plugin "daisyui" {
  themes: light --default, night --prefersdark;
}
/* @tailwind base;
@tailwind components;
@tailwind utilities; */

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(40px) scale(0.95);
  }
  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.8s ease-out forwards;
}
